body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

.header {
    padding: 10px 20px;
    margin-bottom: 40px;
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: 24px;
    position: relative;
    font-weight: bold;
}

/* تنسيق زر العودة */
.back-button {
    font-size: 20px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 10px;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.movie {
    position: relative;
    width: 150px;
    height: 225px;
    background-color: #000000;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s;
}

/* الطبقة السوداء المتدرجة */
.movie .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)); /* التدرج الأسود */
    z-index: 1; /* الطبقة السوداء فوق الصورة */
    opacity: 0; /* إخفاء الطبقة في الوضع العادي */
    transition: opacity 0.3s ease; /* تأثير عند التحويم */
}

/* الصورة */
.movie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    z-index: 0; /* الصورة تحت الطبقة السوداء */
}

/* التأثير عند التحويم */
.movie:hover {
    transform: scale(1.05);
}

/* إظهار الطبقة المتدرجة عند التحويم */
.movie:hover .overlay {
    opacity: 1; /* إظهار الطبقة السوداء عند التحويم */
}

/* معلومات الفيلم */
.movie-info {
    position: absolute;
    bottom: 0;
    color: white;
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    padding: 5px 0 10px 0; /* إضافة padding من الأسفل لرفع النص للأعلى */
    opacity: 0; /* إخفاء النصوص في الوضع العادي */
    transition: opacity 0.3s ease;
    font-size: 14px;
    z-index: 2; /* النصوص فوق الطبقة السوداء */
}

/* إظهار النصوص عند التحويم */
.movie:hover .movie-info {
    opacity: 1;
}

/* تنسيق النصوص داخل معلومات الفيلم */
.movie-info div {
    max-width: 140px; /* تحديد العرض */
    max-height: 160px; /* تحديد الارتفاع */
    margin-left: 5px;
    margin-right: 5px;
    text-overflow: ellipsis; /* ثلاث نقاط للنص الطويل */
    white-space: normal; /* كسر الأسطر تلقائيًا */
    word-wrap: break-word; /* كسر النص */
    line-height: 1.3; /* ارتفاع السطر */
}

/* التقييم */
.rating {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgb(213, 178, 5); /* لون التقييم */
    color: rgb(0, 0, 0);
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
